.submit-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.shopping-bag-icon {
  margin-right: 5px;
}
.product-image-preview {
  width: 100%;
  height: 70%;
  object-fit: cover;
  background-color: #fff;
  border: 3px solid #fff;
}
