.container{
    width: 100%;
    height: 150px;
    margin-bottom: 60px;
    align-items: center;
    padding-right:20% ;
    padding-left: 20%;
    color: #610404;
}
.container{
    padding-top: 5%;
  }
  .container>img{
    padding-right: 2%;
  }