.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    font-family:'Courier New', Courier, monospace;
  }
  h1 {
    margin-bottom: 30px;
  }
  .contact-us-container form {
  padding-left: 150px;
  padding-right: 150px;
  }
  .formc {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
 

  
  .formc>label {
    font-weight: bold;
    margin-bottom: 5px;
    
  }
  
  .formc > input[type="text"],
  .formc > input[type="email"] {
    text-align: left;
    padding: 8px;
    width: 280px; /* Adjust the width to your preference */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    
  }
  
  .formc > textarea {
    text-align: left;
    padding: 8px;
    width: 100%; /* Adjust the width to your preference */
    max-width: 280px; /* Add this line */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize:both; /* Allow vertical resizing */

  }
  
  button[type="submit"]{
    margin: auto;
    padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
.error-message {
  color: red;
  margin-top: 5px;
}
 
 