.test {
  width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 35%;
  }
  
  h2,
  h5 {
    text-align: center;
  }
  
   form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="email"] {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #fot_btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #fot_btn:hover {
    background-color: #8d8d8d;
  }
  
  .forget-footer {
    margin-top: 20px;
    text-align: center;
  }
  
  .forget-footer p {
    margin: 5px;
  }
  