
  .container {
    position: relative;
    height: 100vh; /* set the container height to fill the viewport height */
  }
  
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/my-background-image.jpg');
    background-size: cover;
    background-position: center center;
    opacity: 2;
    z-index: -1;
  }
  
  .content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 5%;
  }
  
  .title {
    font-size: 4rem;
    font-weight: 700;
    color: #050505;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #070707;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 3rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cta-button {
    display: inline-block;
    padding: 1.25rem 2rem;
    background-color: #fff;
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .cta-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  