* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family:'Courier New', Courier, monospace;
}

.navi {
  height: 50px;
  width: 100%;
  background-color:#A62317;
  position: relative;
  padding-right: 2%;
}

.navi > .navi-header {
  display: inline;
}

.navi > .navi-header > .navi-title {
  display: inline-block;
  padding: 5px 5px 10px 10px;
  align-items: left;
}

.navi > .navi-btn {
  display: none;
}

.navi > .navi-links {
  display: inline;
  float: right;
  font-size: 16px;
}


.navi > .navi-links > a {
  cursor: pointer;
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: white;
  text-align: center;
}
/* .nav>.nav-links>a::before{
  content: " | ";
  margin: 5px;
} */
.navi>.navi-links>a::after{
  content: " | ";
  margin: 5px;
}


.navi > .navi-links > a:hover {
 color:#610404;
 font-weight: bolder;
}

.navi > #navi-check {
  display: none;
}

@media (max-width:1150px) {
  .navi > .navi-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navi > .navi-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navi > .navi-btn > label:hover,.navi  #navi-check:checked ~ .navi-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
    height:50px;
  }
  .navi > .navi-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .navi > .navi-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color:#A62317;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .navi > .navi-links > a {
    display: block;
    width: 100%;
  }
  .navi > #navi-check:not(:checked) ~ .navi-links {
    height: 0px;
  }
  .navi > #navi-check:checked ~ .navi-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}