.publicfooter {
    background-color: #1b2430;
    color: #fff;
    padding: 2rem;
  }
  
  .footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  
  
  